@font-face {
    font-family: 'mont-bold';
    src: url('../fonts/Montserrat-BoldItalic.ttf');
}
@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url('../fonts/Montserrat-LightItalic.ttf');
}
@font-face {
    font-family: 'mont-reg';
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'mont-sembold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}





